exportPattern("^[^\\.]")
import(lambda.r)
import(lambda.tools)
import(futile.logger)
import(futile.options)
import(zoo)
import(xts)
import(quantmod)
importFrom("stats", "end", "start")
S3method(rollapply, TawnyPortfolio)
S3method(start, TawnyPortfolio)
S3method(end, TawnyPortfolio)
